	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/12/2017 09:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-magnifying-glass:before { content: "\f101"; }
.flaticon-time:before { content: "\f102"; }
.flaticon-avatar:before { content: "\f103"; }
.flaticon-shopping-bag:before { content: "\f104"; }
.flaticon-right-quotation-sign:before { content: "\f105"; }
.flaticon-left-quote:before { content: "\f106"; }
.flaticon-map-marker-point:before { content: "\f107"; }
.flaticon-black:before { content: "\f108"; }
.flaticon-people:before { content: "\f109"; }
.flaticon-two:before { content: "\f10a"; }
.flaticon-female-flamenco-dancer:before { content: "\f10b"; }
.flaticon-person-dance-music:before { content: "\f10c"; }
.flaticon-flamenco-dancer:before { content: "\f10d"; }
.flaticon-breakdancer:before { content: "\f10e"; }
.flaticon-girl-dancing:before { content: "\f10f"; }
.flaticon-playing:before { content: "\f110"; }
.flaticon-female-flamenco-dancer-shoes:before { content: "\f111"; }